<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Of Owners</title>
</head>
<body>
<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Id</th>
        <th style="width: 150px;">First Name</th>
        <th style="width: 150px;">Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}" >
        <td th:text="${owner.id}">1</td>
        <td th:text="${owner.firstName}">hema</td>
        <td th:text="${owner.lastName}">khaled</td>
    </tr>
    </tbody>
</table>
</body>
</html>